*{
    margin: 0px;
    padding: 0px;
};

body{
    background-color: darkblue;
    align-items: end;
    color: gainsboro;
};

.header{
    display: flex;
    background-color: white;
    height: 15px;
    font-weight: 100;
    
    
    
}
